@model List<DAL.Model.Category>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Design/css/masterpage.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

    <div class="navigation">
        <div class="top-side row">
            <div style="float:left" class="col-1">
                <img style="width:150px;height:150px;" src="~/Design/resources/logo.png" />
            </div>
            <div class="col-11">
                <form class="form-inline d-flex justify-content-center md-form form-sm active-pink active-pink-2 mt-2">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input class="form-control form-control-sm ml-3 w-75 no-border" type="text" placeholder="Search"
                           aria-label="Search">
                </form>

            </div>
        </div>
        <div class="bottom-side">
            <div class="row">
                <div class="col-2"></div>
                <div class="categories col-8">
                    <!--PartialView Categories Table-->
                </div>
                <div class="shop_cart col-1">

                </div>
            </div>

        </div>


    </div>
    <div>
        @RenderBody()
    </div>
</body>


</html>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
     $(".categories").load('@Url.Action("Partial1Async", "Home")')
    });

 'use strict';

var searchBox = document.querySelectorAll('.search-box input[type="text"] + span');

searchBox.forEach(elm => {
  elm.addEventListener('click', () => {
    elm.previousElementSibling.value = '';
  });
});
</script>
<script src="https://use.fontawesome.com/c47ab7c705.js"></script>


